.testimonial__img {
  margin-right: 2rem;
}
.testimonial__img img {
  height: 30rem;
  width: 100%;
  object-fit: cover;
}
.testimonial__content {
  width: 50%;
}
.testimonial__content h2 {
  font-weight: 600;
  font-family: "Rubik Moonrocks", cursive;
}

@media only screen and (max-width: 991px) {
  .testimonial__wrapper {
    flex-direction: column;
  }
  .testimonial__img {
    margin: 0;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .testimonial__img img {
    height: 22rem;
    width: 22rem !important;
    object-fit: cover;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
  .testimonial__content {
    width: 100% !important;
  }
}
