.single__course__item {
  padding: 15px;
}
.course__img img {
  border-radius: 10px;
  margin-bottom: 20px;
  height: 20rem;
  width: 100%;
  object-fit: cover;
}
.enroll a {
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
  color: #17bf9e;
}
.lesson,
.students,
.rating {
  font-size: 0.9rem;
  color: #0a2b1e;
  font-weight: 500;
}
.lesson i,
.students i,
.rating i {
  font-weight: 400;
}
.course__title {
  line-height: 25px;
}
.course__top h3 {
  font-size: 1.3rem;
}
.course__top__left {
  width: 50%;
}
.course__top__left h2 {
  font-family: "Rubik Moonrocks", cursive;
}
.course__top p {
  line-height: 20px;
}

@media only screen and (max-width: 991px) {
  .course__top {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }
  .course__top .btn {
    margin-top: 2rem !important;
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .course__top__left {
    width: 100%;
  }
  .course__top__left h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
}
